:root {
    --bg-info: #d0defc;
    --text-info: #5251a2;
    --bg-success: #d6f2dc;
    --text-success: #488056;
    --bg-warning: #fcface;
    --text-warning: #9d8f43;
    --bg-error: #f4d4d7;
    --text-error: #802c3d;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    padding: 7px;
    margin: 7px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
}
.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}
.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}
.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}
.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
}
