.fancy-header {
    color: antiquewhite;
    text-align: center;
}
h1, h3 {
    color: whitesmoke;
    text-decoration: underline;
}
body {
    background-color: aliceblue;
    background-image: url("../img/denim.png");
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: center;
    font-family: 'DM Serif Display', serif;
    color: #fccc36;
    text-align: center;
}
ul, ol {
    list-style: square inside;
    text-align: center;
    padding: 0px;
    font-size: 20px;
}
table, td, tr, th {
    padding: 15px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    border: 1px solid #404348 ;
    border-spacing: 0;
    background-color: antiquewhite;
    color: #1d6652;
}
th {
    border-width: thick;
    border-inline: white;
    font-size: 25px;
    text-decoration: underline;
}
.plan {
    border-left: thick solid #404348;
    border-right: none;
}
.price {
    border-right: none;
    border-left: thick solid #404348;
}
.feat {
    border-left:thick solid #404348;
    border-right: thick solid #404348;
}
#unlim {
    border-bottom: thick solid #404348;
}
#bottom2 {
    border-bottom: thick solid #404348;
}
#prem {
    border-bottom: thick solid #404348;
}
.explain {
    background-color: antiquewhite;
    color: #292c31;
    padding: 20px;
    display: none;
}
span:hover + .explain {
    display: block;
}
table {
    border: none;
}
a:link {
    color: white;
}
a:visited {
    color: darksalmon;
}
a:hover {
    color: greenyellow;
}
.zoom:hover {
    transform: scale(2);
}