* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: .5fr repeat(8, 1fr);
    /*grid-template-rows: .25fr repeat(9, 1fr);*/
    height: 100vh;
}
header {
    background-color: #111111;
    grid-area: 1 / 1 / 2 / 11;
    font-size: 20px;
}
nav {
    grid-area: 2 / 1 / 20 / 3;
    background-color: #DDDDDD;
    font-size: 20px;
}
main {
    grid-area: 2 / 3 / 11 / 8;
}
.ad-box1 {
    border: .5px solid black;
    grid-area: 3 / 8 / 3 / 10;
    height: 80px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ad-box2 {
    border: 1px solid black;
    text-align: center;


}
.ad-box3 {
    border: 1px solid black;
    text-align: center;


}
.ad-box4 {
    border: 1px solid black;
    text-align: center;


}
.ad-box5 {
    border: 1px solid black;
    text-align: center;


}
.ad-box6 {
    border: 1px solid black;
    text-align: center;


}
ul {
    list-style: none;
}
li {
    display: flex;
}
a {
    padding: 15px;
}
h1 {
    font-weight: lighter;
    color: #238570;
    padding-left: 10px;
}
p {
    padding-left: 10px;
}
#menu {
    padding-bottom: 20px;
}
#logo {
    background-color: grey;
}
.sidenav {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.topnav {
    padding-left: 0;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.topnav a {
    text-decoration: none;
    color: white;
}
.sidenav a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
.topnav a:hover {
    background-color: white;
    color: black;
}
